<%= form_tag({controller: :commits, action: :search}, {method: "get", class: "form-inline"}) do %>
  <%= text_field_tag :keyword, @keyword, size: '50%', class: "form-control", placeholder: "keyword" %>
  <%= button_tag(type: "submit", name: nil, class: "btn btn-default") do %>
  Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <% end %>
<% end %>
