<div class="center hero-unit">
<h1>commit-m.io</h1>

<h2>
  <i class="fa fa-search"></i>Search commit messages on GitHub popular repositories.
</h2>

<button type="button" class="btn btn-primary">Primary</button>
</div>
