<footer>
  <hr>
  <!-- GitHub star -->
  <iframe src="https://ghbtns.com/github-btn.html?user=minamijoyo&repo=commit-m&type=star&count=true" frameborder="0" scrolling="0" width="75px" height="20px"></iframe>

  <!-- hatena bookmark -->
<a href="http://b.hatena.ne.jp/entry/http://commit-m.minamijoyo.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="commit-m: GitHubコミットメッセージの文例が検索できるサービス" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  <!-- twitter-->
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://commit-m.minamijoyo.com/" data-hashtags="commit_m">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <p>created by <a href="https://twitter.com/minamijoyo" target="_blank">@minamijoyo</a></p>

</footer>
